
/****************** cabecalho ******************/

#theme-header{
	
}

#header {
	padding: 15px 0 0 0;
background-color: #19882c;
 /* Old browsers */
	background-color: #0A5517;
	background-image: -moz-radial-gradient(center, ellipse cover,  #19882c 1%, #025310 100%);
 /* FF3.6+ */
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#19882c), color-stop(100%,#025310));
 /* Chrome,Safari4+ */
	background-image: -webkit-radial-gradient(center, ellipse cover,  #19882c 1%,#025310 100%);
 /* Chrome10+,Safari5.1+ */
	background-image: -o-radial-gradient(center, ellipse cover,  #19882c 1%,#025310 100%);
 /* Opera 12+ */
	background-image: -ms-radial-gradient(center, ellipse cover,  #19882c 1%,#025310 100%);
 /* IE10+ */
	background-image: radial-gradient(ellipse at center,  #19882c 1%,#025310 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19882c', endColorstr='#025310',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */
	color: #fff;
}

#header>div {
	max-width: 960px;
	margin: 0 auto;
}

.header-content * {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: baseline;
}
.header-content li { display: inline; }

#brasilgov {
	background: #00510f;
	border-bottom: 1px solid #ffcc00;
	padding: 5px 10px;
	color: #fff;
}

#accessibility {
	display: block !important;
	font-size: 0.8em;
	width: 50%;
	float: left;
}

#accessibility a {
	color: #dcffe3;
	margin-right: 8px;
}

#accessibility span {
	background: #9ed5ab;
	color: #006600;
	padding: 0 4px;
}

/* logo */
#logo {
	padding: 0;
	float: left;
	width: 70%;
}

#logo span {
	display: block;
}

#logo a {
	display: block;
	width: 100%;
	color: #fff !important;
	margin: 1em 0px;
}

#logo a, #logo #portal-title {
  color: #FFF !important;
}

#logo #portal-title {
  margin: 30px 0px 46px 0px;
  color: #FFF;
  font-size: 3.35em;
  font-family: 'Open Sans Extrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.05em;
}

#logo .luongo {
	font-size: 3em !important;
	line-height: 1.1em;
	margin-bottom: 0.2em;
}

#logo #portal-description {
	font-size: 1.2em;
	text-transform: uppercase;
}

/* Site Actions */
#portal-siteactions {
	display: block;
	float: right;
	clear: left;
	border-bottom: 1px dotted #9bc2a3;
	padding-bottom: 2px;
	margin-top: -15px;
	font-size: 85%;
	text-align: center;
}

#portal-siteactions a {
	color: #dcffe3;
	text-decoration: none;
	padding: 4px 0 4px 10px;
	text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
}

#portal-siteactions a:hover {
	color: #fff !important;
}

#portal-siteactions li {
	display: inline;
}

#portal-siteactions li a:hover {
color: #75ad0a
}
#portal-siteactions li a {
  padding: 4px 0px;
}

#social-icons {
	float: right;
	clear: right;
	margin: 12px 0px 0px 0px;
}

#social-icons ul {
	display: table-row;
}

#social-icons li {
	display: table-cell;
}

#social-icons li a {
	border: none;
	padding: 0 5px;
}

#siteaction-accessibility,
#siteaction-contraste {
  margin: 0px 15px 0px 0px;
}
/* */

/* Sobre o brasil */
#sobre {
	clear: both;
	max-width: 100% !important;
	margin: 0;
	background: #00420c;
	padding: 5px 0;
}

#sobre ul {
	max-width: 960px;
	margin: 0 auto;
	text-align: right;
}

#sobre a {
	color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#sobre .portalservicos-item a {
	padding: 0 10px;
	border-right: 1px solid #fff;
}

#sobre .last-item a {
	padding: 0 0 0 10px;
	border-right: none;
}

/* Searchbox */
.LSBox {
	margin: 0;
	padding: 0;
	border: none;
}

input.searchField {
	-moz-appearance: none;
}

#portal-searchbox {
	clear: right;
	float: right;
	font-size: 80%;
	margin: 2em 0 1.2em 0;
	text-align: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #CCCCCC;
	background: #fff;
	padding: 2px;
}

#portal-searchbox .searchField {
	padding: 0.45em;
	border-right: none;
	border: none;
  width: 170px;
}

#portal-searchbox form {
white-space: nowrap;
}

#portal-searchbox label {
font-weight: normal;
}

#searchGadget {
width: 13em;
}

#header input.searchButton {
	padding: 0.3em;
	background: transparent;
	text-indent: -2000px;
	padding: 4px 15px;
	border: none;
}

#content input.searchField {
margin-bottom: 1em;
}
input.searchField {
-moz-appearance: searchfield;
}

#header input.searchButton {
  background-image: url("images/search-button.gif");
  background-position: 3px 2px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#LSResult {
	z-index: 1;
	margin-top: 0.5%;
}


/* Search Button */
#search-button a {
    display: inline-block;
    width: 29px;
    height: 25px;
    margin-right: 3px;
    margin-top: 10px;
}

#search-button a:hover {
    opacity: 0.6;
}

#search-button #sb_search {
background-image: url(images/search.png);
background-size: 100% 100%;
}

#search-button span { display: none; }

/* Social Buttons */
#social-buttons a {
    width: 18px;
    height: 20px;
    margin-right: 3px;
    margin-top: 10px;
}

#social-icons li a {
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    background-repeat: no-repeat;
}

#social-icons li {
    float: right;
    width: 20px;
    margin-left: 4px;
}

#social-icons a:hover {
    opacity: 0.6;
}

#social-icons #sb_face {
background-image: url(images/icone-facebook.png);
}

#social-icons #sb_tweet {
background-image: url(images/icone-twitter.png);
}

#social-icons #sb_youtb {
background-image: url(images/icone-youtube.png);
}

#social-icons #sb_flickr {
background-image: url(images/icone-flickr.png);
}

#social-icons span { display: none; }

/* Bar Psocial Style - Menu Horizontal*/
#wrap-2 #user{
	 padding: 0 2em;
}

#user {
   top: -30px;
   font-size: 12px;
	position: static;/*teste*/
}

#user form {
    display:none;
}

#barra-psocial {
    position: relative;
    height: 40px;
    margin: auto;
    background: url(images/barra-psocial-bg.png) repeat-x;
}

#barra-psocial li {
  float: left;
}

/****************** FIM cabecalho ******************/

