/* (laranja-claro=#f57900)*/
/* (laranja-escuro=#ce5c00)*/
/****************** cabecalho ******************/

#theme-header{}

#header {
	padding: 20px 0 0 0;
	background: #ce5c00 url('images/bg-juventude.jpg') top center repeat;
	color: #fff;
}

#header>div {
	max-width: 960px;
	margin: 0 auto;
}

.header-content * {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: baseline;
}
.header-content li { display: inline; }

#brasilgov {
	background: #00510f;
	border-bottom: 1px solid #ffcc00;
	padding: 5px 10px;
	color: #03316f;
}

#accessibility {
    display: block !important;
    float: left;
    font-family: arial;
    font-size: 10px;
    width: 50%;
}

#accessibility a {
	color: #FFF;
	margin-right: 8px;
}

#accessibility span {
    background: none repeat scroll 0 0 #545;
    color: #FFFFFF;
    padding: 0 4px;
}

#top-header {
    background: #204A87;
    width: 100%;
}

#top-header > div {
    width: 960px;
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
}

/* logo */
#logo {
	padding: 0px;
	float: left;
}

#logo span {
	display: block;
}

#logo a, #logo #portal-title {
  color: #FFF;
}

#site-title {
  margin-left: -1000px;
}

#logo #portal-title {
  margin: 0px 0px 10px 0px;
  color: #FFF;
  font-size: 40px;
  font-family: 'Open Sans Extrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.05em;
}

#logo .luongo {
	font-size: 3em !important;
	line-height: 1.1em;
	margin-bottom: 0.2em;
}

#logo #portal-description {
	font-size: 1.2em;
	text-transform: uppercase;
}

/* Site Actions */
#portal-lang,
#portal-siteactions {
	display: block;
	line-height: 15px;
	margin-top: 5px;
	border-bottom: 1px dotted #FFF;
	float: right;
}

#portal-lang a,
#portal-siteactions a {
	color: #FFF;
	font-size: 0.93em !important;
	text-decoration: none;
	padding: 4px 0 4px 0px;
	text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#portal-lang a:hover,
#portal-siteactions a:hover {
	color: #F1CA7F;
}

#portal-lang li,
#portal-siteactions li {
	display: inline;
}

#accessibility a:hover,
#portal-lang li a:hover,
#portal-siteactions li a:hover {
        color: #F1CA7F;
}

#social-icons {
	float: right;
	clear: right;
	margin: 0px;
	margin-bottom: 10px;
}

#social-icons ul {
	display: table-row;
}

#social-icons li {
	display: table-cell;
}

#social-icons li a {
	border: none;
	padding: 0 5px;
}

#siteaction-accessibility,
#siteaction-contraste {
       margin: 0px 15px 0px 0px;
}

/* Top links */
#theme-header .header-content #link-faq a {
    border-right: 1px solid #00500f;
    padding: 0 10px;
}
#theme-header .header-content #link-contact a {
    padding-left: 10px;
}

#theme-header #sobre {
    line-height: 20px;
    font-size: 12px;
}

/* Sobre o brasil */
#sobre {
    clear: both;
    max-width: 100% !important;
    margin: 0;
    background: #ce5c00; /*laranja-mais-escuro*/
    padding: 5px 0;
}

#sobre > div {
	max-width: 960px;
	margin: 0 auto;
}

#sobre-portal {
	float: right;
}

#sobre a {
	color: #FFF;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 0 10px;
	border-right: 1px solid #FFF;
}

#sobre a:hover {
	color: #F1CA7F;
}

#sobre .last-item a {
	padding: 0 0 0 10px;
	border-right: none;
}

/* Searchbox */
.LSBox {
	margin: 0;
	padding: 0;
	border: none;
}

input.searchField {
	-moz-appearance: none;
}

#portal-searchbox {
	clear: right;
	float: right;
	font-size: 80%;
	margin: 30px 0 14px;
	text-align: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #CCCCCC;
	background: #fff;
	padding: 2px;
}

#portal-searchbox .searchField {
	padding: 0.45em;
	border-right: none;
	border: none;
  width: 170px;
}

#portal-searchbox form {
white-space: nowrap;
}

#portal-searchbox label {
font-weight: normal;
}

#searchGadget {
width: 13em;
}

#header input.searchButton {
	padding: 0.3em;
	background: transparent;
	text-indent: -2000px;
	padding: 4px 15px;
	border: none;
}

#content input.searchField {
margin-bottom: 1em;
}

input.searchField {
-moz-appearance: searchfield;
}

#header input.searchButton {
  background-image: url("images/search-button.gif");
  background-position: 8px 2px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#LSResult {
	z-index: 1;
	margin-top: 0.5%;
}

#wrap-2 {
  margin-top: 0px !important;
  padding-top: 5px !important;
}

/* Search Button */
#search-button a {
    display: inline-block;
    width: 29px;
    height: 25px;
    margin-right: 3px;
    margin-top: 10px;
}

#search-button a:hover {
    opacity: 0.6;
}

#search-button #sb_search {
background-image: url(images/search.png);
background-size: 100% 100%;
}

#search-button span { display: none; }

/* Social Icons */

#social-icons li a {
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 -20px;
}

#social-icons li {
    float: right;
    width: 20px;
    margin-left: 4px;
}

#social-icons #sb_face {
background-image: url(images/icone-branco-facebook.png);
}
#social-icons #sb_tweet {
background-image: url(images/icone-branco-twitter.png);
}
#social-icons #sb_youtb {
background-image: url(images/icone-branco-youtube.png);
}
#social-icons #sb_flickr {
background-image: url(images/icone-branco-flickr.png);
}

#social-icons li a:hover {
background-position: 0px 0px;
}

#social-icons span { display: none; }

/* FIM social Buttons */

/****************** FIM cabecalho ******************/

/************* Bar Psocial Style - Menu Horizontal**************/
#user {
  width: 960px;
  position: relative;
  top: 5px;
  margin: 0px auto;
  background: #FFF;
  border-bottom: 2px solid #DFDFDF;
  padding: 0px 2em;
  font-size: 0.9em;
  color: #204A87;
}

#user.fixar-user {
  z-index: 9998;
  position: fixed;
  left: 0px;
  top: 0px;
  padding-top: 5px;
}

#user a, #user a strong {
        color: #204A87;
	text-decoration: none;
}

#user a:focus strong,
#user a:hover strong {
	color: #CE5C00;
}

#user form { display: none; }

/************* FIM Bar Psocial Style - Menu Horizontal**************/


/******************Footer - Rodapé**********************************/
#theme-footer {
    width: 100%;
}

#theme-footer .footer-inner {
    max-width: 960px;
    margin: 0 auto;
}
#voltar-topo {
  width: 960px;
  margin: 0 auto;
  text-align: right;
  padding: 0.5em;
  font-size: 13px;
}
#voltar-topo .ui-icon-triangle-2-s {
  float: right;
}
#footer-content {
    background: #FFF;
    text-align: left;
}

#footer-columns {
    background: #CE5C00;
    color: #FFF;
    float: none;
    font-size:10px;
    padding:1em 0;
    width: 100%;
}
#footer-columns dl {
   margin: 0.5em 0px;
   border-left: 1px dotted #FFF;
}
#footer-columns .column {
   float: left;
   margin: 0px 2em;
   text-align: left;
}
#footer-columns dt {
   padding-left: .6em;
   font-size: 2em;
   font-weight: bold;
   color: #F1CA7F;
   font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
#footer-columns dd {
   margin: 0px;
   padding: .5em 1.2em 0 1.2em;
   font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
#footer-columns dd a {
   color: #FFF !important;
   font-size: 1.4em;
}
#footer-columns dd a:hover {
   color: #F1CA7F !important;
}
#footer-columns.columns-4 .column { width: 22%; }

#footer-logos {
    background: #204a87;
    max-width: 100%;
    padding: 2em 0;
    height: 49px;
}

#footer-logos a {
  display: block;
  height: 49px;
  float: left;
}

#user .signup, #user .or,
#footer-logos span {
  display: none;
}

#footer-logos .logo-acesso {
  background: transparent url(images/acesso-a-informacao.png) center center no-repeat;
  width: 107px;
}

#footer-logos .logo-brasil {
	width:155px;
	background: url(images/logo-brasil.svg) center no-repeat;
	height:48px
}

#footer-logos .logo-sgpr {
  background: transparent url(images/logof-sgpr.png) center center no-repeat;
  width: 170px;
  margin-right: 5px;
}

#footer-logos .logo-snj {
  background: transparent url(images/logof-snj.png) center center no-repeat;
  width: 140px;
  margin-right: 5px;
}

#footer-logos .logo-conjuve {
  background: transparent url(images/logof-conjuve.png) center center no-repeat;
  width: 140px;
  margin-right: 5px;
}

#footer-logos .institucionais {
  float: right;
}

#footer-license {
   max-width: 960px;
   margin: 0 auto;
   text-align: left;
   padding: 19px;
}

#footer-license p {
    color: #545454;
    text-align: center;
}

#footer-license p.addrs {
   font-size: 1.3em;
   line-height: 1.3em;
}
